@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900');

html * {
  font-family: 'Raleway', sans-serif;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

body {
    overflow-x: hidden;
    background: white;
}

/***********************/
/****REUTILIZAVEL*******/
/***********************/
.text-white {
  color: white;
}
.text-black {
  color: black;
}
@media (min-width: 991px) {
  .padding-top{
    padding-top: 1.2em;
  }
}
.margin-bottom{
    margin-bottom: 1.9em;
  }

/***********************/
/********SIDEBAR********/
/***********************/
#wrapper {
    padding-left: 0;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow: hidden;
    background-color: rgba(26, 35, 46, 1);
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 0;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}
.sidebar-nav li {
    text-indent: 10px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    margin-top: 20px;
    height: 65px;
    font-size: 16px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 0;
    }
    #wrapper.toggled {
        padding-left: 250px;
    }
    #sidebar-wrapper {
        width: 0;
    }
    #wrapper.toggled #sidebar-wrapper {
        width: 250px;
    }
    #page-content-wrapper {
        position: relative;
    }
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

.btn-sidebar-close {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  border-radius: 0;
  padding: 20px;
  text-align: right;
  background-color: rgba(255, 255, 255, 0.07);
}

.btn-sidebar-close:hover {
  color: white;
  background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 50px 10px;
    list-style: none;
}
/***********************/
/*********NAVBAR********/
/***********************/
.navbar .container {
  width: 75%;
}

.navbar-transparent {
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
  background-color: transparent;
  border: none;
}

.navbar-alt {
  background-color: rgba(16, 19, 25, 0.5);
}

.navbar-alt .navbar-brand, .navbar-alt .navbar-nav li a {
  height: 100px; /* CHANGE THESE FOR NAVBAR HEIGHT CHANGES */
  line-height: 100px; /* CHANGE THESE FOR NAVBAR HEIGHT CHANGES */
}

.navbar-transparent .navbar-toggle {
  border-color: rgba(255, 255, 255, 0.5);
  margin-top: 85px;
  margin-bottom: 85px;
}

.navbar-transparent .navbar-toggle:hover {
	background-color: rgba(0, 0, 0, 0.5);
}

.navbar-transparent .navbar-toggle .icon-bar {
	background-color: rgba(255, 255, 255, 0.5);
}

.navbar-transparent .navbar-brand {
  font-weight: 900;
  font-size: 220%;
  color: white;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
  text-transform: uppercase;
}

.navbar-sidebar-toggled {
  left: 250px;
}

.navbar-transparent .navbar-brand:hover {
  color: white;
  text-shadow: 0 0 10px dimgrey;
  transition: all 300ms ease;
}

.navbar-brand, .navbar-nav li a {
  color: white;
  height: 200px; /* CHANGE THESE FOR NAVBAR HEIGHT CHANGES */
  padding-top: 0;
  font-size: 100%;
  font-weight: 500;
  line-height: 200px; /* CHANGE THESE FOR NAVBAR HEIGHT CHANGES */
  margin-right: 12px;
  text-transform: uppercase;
}

.navbar-brand, .navbar-nav li a:hover,
.navbar-brand, .navbar-nav li a:active,
.navbar-brand, .navbar-nav li a:focus {
  background-color: transparent;
  color: darkgrey;
}

.signup-btn {
  background-color: white;
  border-radius: 30px;
  font-weight: 600;
  font-size: 100%;
  color: black;
  padding: 10px 35px;
}

.signup-btn:hover {
  background-color: lightgray;
}

/*THIS ADJUSTS THE BREAKPOINT FOR COLLAPSING, ACCOUNTING FOR THE NUMBER OF ICONS*/
@media (max-width: 1195px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
        padding: 10px;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
    .navbar-brand, .navbar-nav li a {
      height: 100px;
      padding-top: 0;
      line-height: 100px;
    }

    .navbar-transparent .navbar-toggle .icon-bar {
        width: 35px;
        height: 3px;
    }

    .navbar-transparent .navbar-toggle {
        border-color: rgba(255, 255, 255, 0.5);
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .navbar-transparent .navbar-brand {
      font-size: 160%;
    }
}

/********************/
/*******BANNER*******/
/********************/
.glitchy-parallax {
  /* The image used */
  background-image: url("../images/banner-saber.svg");
  /* Set a specific height */
  height: 105vh;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 30vh;
}

.glitch-txt {
  text-align: center;
}

.glitchy-parallax2 {
  /* The image used */
  background-image: url("../images/fundo-bin.png");
  /* Set a specific height */
  height: 105vh;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 30vh;
  text-align: center;
}


.glitchy-parallax div .home-title {
  font-weight: 500;
  margin-top: 14%;
  font-size: 42px;
}

.glitchy-parallax div .home-subtitle-white-bg {
  background-color: white;
  text-transform: uppercase;
  padding: 15px 30px;
  border-radius: 12px;
  border: none;
  font-weight: 900;
  font-size: 120%;
  margin-top: 7%;
  color: black;
  cursor: default;
}

.inline-text{
  display: inline-block;
}
.banner-programacao{
  width: 80%;
}
@media (min-width : 990px) {
  .banner-programacao{
    width: 90%;
  }
}

@media (max-width: 767px) {
  .glitchy-parallax div .home-title {
    font-weight: 500;
    margin-top: 2%;
    font-size: 13px;
  }
  .glitchy-parallax div .home-subtitle-white-bg {
    margin-top: 2%;
    font-size: 30%;
    padding: 5px 10px;
    border-radius: 4px;
  }
  .sidebar-nav li {
      text-indent: 8px;
      line-height: 30px;
  }
  .sidebar-nav li a {
      font-size: 10px;
  }
  .sidebar-nav > .sidebar-brand {
      line-height: 50px;
      margin-top: 15px;
      font-size: 12px;
      height: 55px;
  }
}

@media (min-width: 768px) and (max-width: 1120px) {
  .glitchy-parallax div .home-title {
    font-weight: 500;
    margin-top: 5%;
    font-size: 26px;
  }
  .glitchy-parallax div .home-subtitle-white-bg {
    margin-top: 2%;
    font-size: 70%;
  }
}

@media (min-width: 1120px) and (max-width: 1420px) {
  .glitchy-parallax div .home-title {
    font-weight: 500;
    margin-top: 9%;
    font-size: 28px;
  }
  .glitchy-parallax div .home-subtitle-white-bg {
    margin-top: 2%;
    font-size: 80%;
  }
}

.bold {
  font-weight: 700;
  font-size: 3vw;
  margin-top: -1vw;
}
.btns{
  margin-top: 10em;
}
.round-button {
  width:70%;
}
.round-button-circle {
	width: 10vw;
  height: 10vw;
  border-radius: 50%;
  background: white;
  float: left;
}
.round-button-circle:hover {
	border:0.4vw solid white;
  border-radius: 100%;
	background-color: transparent;
}
.round-button-circle:after{
  border:0.2vw solid white;
	background-color: transparent;
}
.round-button h1 {
  display:block;
	float:left;
	width:100%;
	padding-top:50%;
  padding-bottom:50%;
	line-height:1em;
	margin-top:-4vw;
	text-align:center;
	color:black;
  font-family:Raleway;
  font-weight: 900;
  font-size:4.5vw;
  font-weight:bold;
  text-decoration:none;
}
.round-button-circle:hover h1{
  color: white;
}
.round-button-circle:after h1{
  color: white;
}
.round-button h2 {
  display:block;
	float:left;
	width:100%;
	line-height:1em;
	margin-top:-6vw;
	text-align:center;
	color:black;
  font-family:Raleway;
  font-weight: 900;
  font-size:3vw;
  font-weight:bold;
  text-decoration:none;
}
.round-button-circle:hover h2{
  color: white;
  margin-top: -5.5vw;
  margin-left: 0px;
}
.round-button-circle:after h2{
  color: white;
}
/********************/
/*****O QUE E********/
/********************/
#o-que-e {
  padding-top: 80px;
  background: white;
}

.o-que-e-title {
  font-size: 64px;
  font-weight: 800;
  text-align: center;
}

.o-que-e-subtitle {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

.o-que-e-text {
  font-size: 24px;
  margin-top: 60px;
  font-weight: 400;
  text-align: justify;
}

.o-que-e-skew {
  margin-top: 50px;
  height: 60px;
  background: linear-gradient(to bottom left, white, white 50%, transparent 51%, transparent);
}

/********************/
/*****EVENTOS********/
/********************/
#eventos {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-top: -59px; /* TEM QUE SER IGUAL A -1 * .o-que-e-skew -> height */
  background-image: url('../images/fundo-hacker.png');
  background-position: 0 -140px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: black;
  text-align: center;
}

.eventos-title {
  font-size: 56px;
  font-weight: 700;
  text-align: center;
}

.eventos-row  {
    margin-top: 60px;
}

.evento-container {
  background: transparent;
  text-align: center;
  margin-bottom: 60px;
}

.evento-container .evento-thumbnail {
    width: 40%;
}

.evento-container .evento-title {
  text-transform: uppercase;
  font-weight: 900;
  margin-top: 10px;
  color: white;
  padding-left: 2px;
  padding-right: 2px;
  word-wrap: break-word;
}

.evento-container .saiba-mais-btn {
  background-color: white;
  text-transform: uppercase;
  padding: 8px 30px;
  border-radius: 8px;
  border: none;
  font-weight: 700;
  margin-top: 4px;
  color: black;
}

.eventos-skew {
    top: 60px; /* DEVE SER IGUAL AO PADDING TOP DA SECTION DE EVENTOS */
    height: 60px;
    background: linear-gradient(to top right, white, white 50%, transparent 51%, transparent);
}

/********************/
/*****PALESTRANTES********/
/********************/
#palestrantes {
    margin-top: 30px;
}

.palestrantes-title {
    font-size: 52px;
    font-weight: 700;
    text-align: center;
}

.palestrante-card {
    margin-top: 20px;
    overflow: hidden;
}

.palestrante-card .subtitle {
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px 20px;
    font-weight: 600;
}

.palestrante-card .subtitle p {
    font-size: 16px;
    text-transform: uppercase;
}

.palestrante-card .subtitle small {
    font-size: 14px;
}

.palestrantes-img {
  height: auto;
  width: 100%;
}

.palestrantes-row {
    margin-top: 50px;
}

/********************/
/*****PATROCINADORES E PARCEIROS********/
/********************/

.patrocinadores-title {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 150px;
}

.patrocinadores-row {
    margin-top: 150px;
}

/********************/
/*****FOOTER********/
/********************/

.footer {
  background-color: #f1f1f1;
  margin-top: 100px;
  font-size: 15px;
  font-weight: 600;
  color: rgb(125,125,125);
  padding-top: 50px;
}

.footer-ul {
  list-style: none;
  padding-top: 20px;
}

.footer-email {
  padding-top: 20px;
}

.footer-ul li a {
    display: block;
    text-decoration: none;
    color: rgb(125,125,125);
}

.social-media {
  float: right;
}

hr {
  border: none; 
  border-bottom: 2px solid #9e9e9e;
}

/********************/
/*****PROGRAMACAO********/
/********************/

.table-responsive{
    border:none;
}


table.prog th,
table.prog td{
	vertical-align: middle !important;
	min-width: 5em;
  max-width: 5em;
	text-align: center;
}

td.center {
	text-align: center;
}


table.prog td{
	position: relative;
	overflow: hidden;
}


ul.prog {
    width: 100%;
    list-style:none;
    border: none;
    text-align: center;
    padding: 10px;
}

ul.prog .desc-local{
    font-size: 1em;
    font-weight: bold;
}

ul.prog li {
    padding: 8px;
    background-color: white;
    margin: 0 -10px 7px;
}


.h30 td{
	height: 4vh;
}

.h60 td{
	height: 8vh;
}

.h90 td{
	height: 11vh;
}

.h150 td{
	height: 17vh;
}

#programacao {
  height: 100px;
}

#grade .legenda {
	color: #0c0e10;
	font-weight: 300;
	
	border: 1px solid #ddd;
	
	padding: 5px;
	padding-top: 8px;
	
	display: flex;
	
	width: 100%;
	
	justify-content: space-evenly;
}

#grade .legenda span {
	display: inline-block;
    position: relative;
    top: -3px;
    padding-left: 2px;
}

#grade .lcolor {
	display: inline-block;
	
	width: 18px;
	height: 18px;
	
	border: 1px solid #ddd;
}

#grade .outros {
  background-color: #F0E8D5;
}

#grade .palestra {
	background-color: #bae8ba;
}

#grade .minicurso {
	background-color: #8ebfdc;
}

#grade .debate {
	background-color: #dede96;
}

#grade .fun {
	background-color: #e697e6;
}

#grade .fun {
	background-color: #e697e6;
}

#allweekdays {
  color: inherit;
  text-decoration: none;
}

#allweekdays:hover {
  color: #477956;
}

.weekday {
  display: none;
}